
@{
    Layout = "~/Views/Shared/_LayoutAdminLte.cshtml";

    Dictionary<int, string> accounts = (Dictionary<int, string>)ViewBag.Accounts;
    Dictionary<int, string> ordStatuses = (Dictionary<int, string>)ViewBag.OrderStatuses;
    Dictionary<int, string> dvMethods = (Dictionary<int, string>)ViewBag.DeliveryMethods;
    Dictionary<string, string> salesRepList = (Dictionary<string, string>)ViewBag.SalesRepList;

}
<style>
    #tblSupplyOrders th {
        vertical-align:top;
        font-size:smaller;
        text-align:center;
        background-color:blue;
        color:white;
    }

    #tblSupplyOrders td {
        vertical-align:top;
        font-size:smaller;
    }

    th.ordered-qty {
        width:5%;
    } 
    th.cancelled-qty {
        width:5%;
    }
    th.backordered-qty{
        width:5%;
    }
    th.committed-qty {
        width:5%;
    }
    input.ordered-qty {
        width:60px;
    }
    input.committed-qty {
        width:60px;
    }
    input.backordered-qty {
        width:60px;
    }
    input.cancelled-qty {
        width:60px;
    }
    input.unit-cost {
        width:80px;
    }

</style>
<!--Edit form-->
<div class="modal fade" id="frmSupplyOrders" tabindex="-1" role="dialog" aria-labelledby="frmSupplyOrdersModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="frmSupplyOrdersModalLabel">Create</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ui-front">
                <form method="post">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtSupplyOrderID" class="control-label">Order ID</label>
                            <input type="text" id="txtSupplyOrderID" name="txtSupplyOrderID" class="form-control" readonly/>
                        </div>
                        <div class="col-sm-2">
                            <label for="lstOrderStatusID" class="control-label">Status</label>
                            <select id="lstOrderStatusID" class="form-control" >
                                <option value=""></option>
                                @foreach(var ords in ordStatuses)
                                {
                                    <option value="@ords.Key">@ords.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="lstDeliveryMethodID" class="control-label">Delivery Method</label>
                            <select id="lstDeliveryMethodID" class="form-control" >
                                <option value=""></option>
                                @foreach(var dv in dvMethods)
                                {
                                    <option value="@dv.Key">@dv.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtTrackingNumber" class="control-label">Tracking Number</label>
                            <input id="txtTrackingNumber" name="txtTrackingNumber" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="lstAccountID" class="control-label">Account ID</label>
                            <select id="lstAccountID" class="form-control" required>
                                <option value="">--</option>
                                @foreach(var acc in accounts)
                                {
                                    <option value="@acc.Key">@acc.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="lstSalesRep" class="control-label">Sales Rep</label>
                            <select id="lstSalesRep" name="lstSalesRep" class="form-control" >
                                <option value="">--</option>
                                @foreach(var sr in salesRepList)
                                {
                                    <option value="@sr.Key">@sr.Value</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <label for="lstDeliveryAddressID" class="control-label">Delivery Address ID</label>
                            <select id="lstDeliveryAddressID" class="form-control" ></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div  class="col-sm-3">
                            <label for="txtDeliveryAddressName" class="control-label">Delivery Address Name</label>
                            <input id="txtDeliveryAddressName" class="form-control" readonly />
                        </div>
                        <div  class="col-sm-3">
                            <label for="txtAddress" class="control-label">Address</label>
                            <input id="txtAddress" class="form-control" readonly />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtCity" class="control-label">City</label>
                            <input id="txtCity" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <label for="txtSuite" class="control-label">Suite</label>
                            <input id="txtSuite" class="form-control" readonly />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtState" class="control-label">State</label>
                            <input id="txtState" class="form-control"  readonly />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtZip" class="control-label">Zip</label>
                            <input id="txtZip" class="form-control"  readonly />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <table style="width:100%" id="tblItems">
                            <thead>
                                <tr>
                                    <th >Item name</th>
                                    <th class='ordered-qty'>Quantity</th>
                                    <th class='unit-cost'>UniCost</th>
                                    <th>Description</th>
                                    <th class='committed-qty'>Commited</th>
                                    <th class='cancelled-qty'>Cancelled</th>
                                    <th class='backordered-qty'>BackOredred</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="Items">
                            </tbody>
                            <tfooter>
                                <tr>
                                    <th colspan="5"><input id="txtItemID" name="txtItemID" class="form-control search" placeholder="Enter part of item name, and select from lists..."/></th>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                    <div class="form-btn-group row">
                        <div class="col-sm-4">
                            <label for="txtOrderNote" class="control-label">Order Note</label>
                            <textarea id="txtOrderNote" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-4">
                            <label for="txtShippingNote" class="control-label">Shipping Note</label>
                            <textarea id="txtShippingNote" class="form-control" rows="3"></textarea>
                        </div>
                        <div class="col-sm-4">
                            <label for="txtDateShipped" class="control-label">Date Shipped</label><br/>
                            <input id="txtDateShipped" name="txtDateShipped"  class="form-control"/>
                        </div>
                    </div>
                    <div class="form-btn-group row">
                        <div class="col-sm-2">
                            <label for="txtDateCreated" class="control-label">Date Created</label>
                            <input id="txtDateCreated" name="txtDateCreated" class="form-control" readonly/>
                        </div>
                        <div class="col-sm-3">
                            <label for="txtCreatedBy" class="control-label">Created By</label>
                            <input id="txtCreatedBy" name="txtCreatedBy" class="form-control"  readonly/>
                        </div>
                        <div class="col-sm-2">
                            <label for="txtUpdatedDate" class="control-label">Updated Date</label>
                            <input id="txtUpdatedDate" name="txtUpdatedDate" class="form-control" readonly />
                        </div>
                        <div class="col-sm-3">
                            <label for="txtUpdatedBy" class="control-label">Updated By</label>
                            <input id="txtUpdatedBy" name="txtUpdatedBy" class="form-control" readonly />
                        </div>
                        <div class="col-sm-2">
                            <label for="txtCompletedDate" class="control-label">Completed Date</label>
                            <input id="txtCompletedDate" name="txtCompletedDate" class="form-control" readonly />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<!--End edit form-->
<br/>
Filter
<br />
<br />
<button type="button" class="btn btn-secondary" id="btnCreateNew">Create New</button>
<br />
<br />
<table class="table col-sm-6">
    <tr>
        <td class="col-sm-1">
            Only Account:
        </td>
        <td class="col-sm-1">
            <input id="chkOnlyAccount" type="checkbox" />
        </td>
        <td class="col-sm-2">
            Status filter:
        </td>
        <td class="col-sm-2">
        <select id="lstStatusFilter" class="form-control" >
            <option>All</option>
            <option value="1">New</option>
            <option value="2">Backordered</option>
            <option value="3">Completed</option>
            <option value="4">Printed</option>
            <option value="5">Cancelled</option>
        </select>
        </td>
        <td class="col-sm-1">
            <button id="btnSearch" class="btn btn-secondary">Search</button>
        </td>
        <td class="col-sm-1">
            <button id="btnReset" class="btn btn-secondary">Reset</button>
        </td>
    </tr>
</table>
<table id="tblSupplyOrders" class="table table-striped table-bordered dataTable">
    <thead>
        <tr>
            <th>Select</th>
            <th>SalesOrderID</th>
            <th>Date Created</th>
            <th>Date Printed</th>
            <th>Date Shipped</th>
            <th>AccountID</th>
            <th>Tracking Number</th>
            <th>Delivery Method</th>
            <th>Status</th>
            <th>CreatedBy</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Select</th>
            <th>SalesOrderID</th>
            <th>Date Created</th>
            <th>Date Printed</th>
            <th>Date Shipped</th>
            <th>AccountID</th>
            <th>Tracking Number</th>
            <th>Delivery Method</th>
            <th>Status</th>
            <th>CreatedBy</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
<!--end dispatch tasks-->
<script src="~/Orders/SupplyOrder.js">
</script>